{% extends "layout.html" %}

{%block content%}

<div class="card">
  
    <section 
    class="avatar" 
    style="background: url({{member.avatar_url}}) no-repeat center center / cover">
    </section>
   
    <form method="POST" action="/members?_method=PUT">
    <section class="details">
      
      <h3>Editar Membro</h3>

      {% include 'members/fields.html'%}

      <input type="hidden" 
      name = "id" 
      value= {{member.id}}>

       
    </form>   
    
    <form id="form-delete" action="/members?_method=DELETE" method="POST">
      <input type="hidden" name ="id" value={{member.id}}>
      <button type="submit">Deletar</button>
    </form>

  </section>
  
</div>

  <script>

      const formDelete = document.querySelector("#form-delete")
      formDelete.addEventListener("submit", function(event){
        const confirmation = confirm("Deseja Deletar?")
        if(!confirmation){
          event.preventDefault()
        }
      })

  </script>

{% endblock content%}